* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    background-color: #202225;
    width: 30ch;
}

header {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 10px 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .25px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E3136;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;

}

.loading {
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 100%;
    float: left;
}

.loading-0, .loading-1, .loading-2 {
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
    background: lightgray;
}

.loading-0 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

.loading-1 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

.loading-2 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}

#donate {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

@keyframes bounce {
    0%, 100% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}